<!-- <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular-Animation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/fadeinfadeout']"
              routerLinkActive="router-link-active"
              >Fade-In-Fade-Out</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/multistateanimation']"
              routerLinkActive="router-link-active"
              >Multi-State</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/listanimations']"
              routerLinkActive="router-link-active"
              >Query-Animation</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/slideanimations']"
              routerLinkActive="router-link-active"
              >Slide-Animation</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

 -->

<div id="navbar">
  <ul>
    <li><a href=""> Cool Cats</a></li>
    <li><a [routerLink]="['/fadeinfadeout']" routerLinkActive="router-link-active"> Fade-In-Fade-Out-Animation</a></li>
    <li><a [routerLink]="['/multistateanimation']" routerLinkActive="router-link-active"> Multi-State-Animation</a></li>
    <li><a [routerLink]="['/listanimations']" routerLinkActive="router-link-active"> Query-Animation</a></li>
    <li><a  [routerLink]="['/slideanimations']" routerLinkActive="router-link-active"> Slide-Animation</a></li>
  </ul>
</div>
