<section id="container">
  <!-- ===============Start of container===================== -->
  <div class="user-container">
    <!-- Card One -->
    <div class="card" [@move-background-on-click]="positionBackground">
      <div [@fadeInFadeOut]="stateName" class="hidden-description">
        <h6>Info:</h6>
        <p >Give me more food, human!!!</p>
        <p >Give me more food, human!!!</p>
        <p >Give me more food, human!!!</p>
        <p >Give me more food, human!!!</p>
        <p >Give me more food, human!!!</p>
      </div>
      <div class="user-content">
        <div class="bio" (click)="toggle()" >
          <h3 (click)="changeBackgroundPosition('move')" ng-click="changeBackgroundPosition('move-to-normal')">Snowflake</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
     </div>
    </div>

    <!-- Card Two-->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Bubble Wubble</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Three-->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Fluffy ears</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Four -->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Ghosty</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Five -->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>The fluffy team</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Six -->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Mistery</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Seven -->
    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Hazzledblue</h3>
          <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>

    <!-- Card Eight -->

    <div class="card">
      <div class="user-content">
        <div class="bio">
          <h3>Blue-ish eyes</h3>
         <p>Test test test test test test test test test test test test</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-solid fa-binoculars"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ================End of container==================== -->
</section>
